body { 
    background-image: url(xmas.jpg);
  	top: 0; 
  	left: 0; 
  	min-width: 100%;
 	min-height: 100%;
 	background-position: center center;
			background-repeat:  no-repeat;
				background-size:  100%;
				/*background-color: pink;*/
				

	color: red;

}

.row {
	
	width: 70%;
	margin: 0 auto;
	

}

.jumbotron {
	
	background-color: transparent;
	font-family: 'Mr Bedfort', cursive;
	font-size: 35px;
	text-decoration: underline;
}

.btn {background-color: red;
border-color: white;


}

h3{text-align: center;}
